* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #3c3907;
	color: #f4eb96;
	padding: 20px;
}
.tabela{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    text-align: center;
}

.item{
    background-color: #e6ebc2;
	padding: 20px;
	margin-bottom: 20px;
	flex: 1 0 30%;
}
